parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: method.internalClass
          paths:
              - tests/*
        - identifier: method.notFound
          paths:
              - tests/*
        - identifier: argument.templateType
          paths:
              - tests/*
        - identifier: new.staticInAbstractClassStaticMethod
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/pestphp/pest/extension.neon
